.amount-details-wrapper {
    font-family: "Poppins", "sans-serif";
    margin-bottom: 24px;

    .label {
        font-size: 14px;
        color: #dcdcec;
        margin-bottom: 12px;
    }

    .input-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #6e56f840;
        border-radius: 5px;
        padding: 12px 25px;
        .input {
            font-family: "Poppins", "sans-serif";
            background: transparent;
            font-size: 22px;
            font-weight: 600;
            border: none;
            outline: none;
            color: #fff;
        }

        .rupee {
            font-size: 16px;
        }
    }
}

.disabled-wrapper {
    background: #1c1731;
    border: none !important;
}

@media only screen and (max-width: 425px) {
    .amount-details-wrapper {
        .input-wrapper {
            .input {
                width: 85%;
                font-size: 20px;
            }
        }
    }
}
