.card-wrapper {
    background: #0b0819;
    width: 460px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    position: relative;

    .header {
        font-family: "Poppins";
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;

        .tag {
            color: #c5c5c5;
            font-size: 14px;
        }

        .value {
            color: #627eea;
            font-size: 24px;
            font-weight: 600;
        }
    }
    .crypto-card-header-outer {
        position: absolute;
        top: -30px;
        left: 200px;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #040406;
        border-radius: 50%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);

        .crypto-image-wrapper {
            background: #1c1731;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            .crypto-image {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    }
}
