.gradient-button {
    background-image: linear-gradient(95deg, #3387d5 25%, #7a06c9 130%);
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    font-family: "Poppins", "sans-serif";
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 25px;
}
